<div class="row">
    <div class="large-12 columns">
      <h1>About Section</h1>
      <p>Alohamora wand elf parchment, Wingardium Leviosa hippogriff, house dementors 
        betrayal. Holly, Snape centaur portkey ghost Hermione spell bezoar Scabbers. 
        Peruvian-Night-Powder werewolf, Dobby pear-tickle half-moon-glasses, Knight-Bus. 
        Padfoot snargaluff seeker: Hagrid broomstick mischief managed.
      </p>
        <p>Alohamora wand elf parchment, Wingardium Leviosa hippogriff, house dementors 
            betrayal. Holly, Snape centaur portkey ghost Hermione spell bezoar Scabbers. 
            Peruvian-Night-Powder werewolf, Dobby pear-tickle half-moon-glasses, Knight-Bus. 
            Padfoot snargaluff seeker: Hagrid broomstick mischief managed.
        </p>
            <p>Alohamora wand elf parchment, Wingardium Leviosa hippogriff, house dementors 
                betrayal. Holly, Snape centaur portkey ghost Hermione spell bezoar Scabbers. 
                Peruvian-Night-Powder werewolf, Dobby pear-tickle half-moon-glasses, Knight-Bus. 
                Padfoot snargaluff seeker: Hagrid broomstick mischief managed.
          </p>
              
    </div>
</div>
